<form asp-action="Login" method="post">
    <div>
        <label>Correo:</label>
        <input type="email" name="correo" />
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="contrasena" />
    </div>
    <button type="submit">Iniciar Sesión</button>
</form>
